@model Tuple<string, double>

@{
    ViewData["Title"] = "Show Weather";
}

<h1>Result</h1>

<div class="table">
    <div class="alert alert-success" role="alert">
        Temperature in your Town @Html.DisplayFor(model => model.Item1):
    </div>
    <div class="alert alert-success" role="alert">
        Is equal to @Html.DisplayFor(model => model.Item2) celcius.
    </div>
</div>