@{
    ViewData["Title"] = "Privacy Policy";
}

<title>Privacy about project asp</title>
<meta name="description" content="Creators of the project: Mariusz Skuza, Piotr Tekieli and Samuel Leończyk." />
<div class="jumbotron">
    <h1 class="display-4">@ViewData["Title"]!</h1>
    <p class="lead">This is our first project using ASP.NET Core mvc! Plz be gentle rating us!</p>
    <hr class="my-4">
    <p>Skuza Mariusz</p>
    <p>Tekieli Piotr</p>
    <p>Leończyk Samuel</p>
</div>
