@model Forum_App.Models.Thread

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Thread</h4>
<hr />
<div>
    <a asp-action="Index">Back to List</a>
</div>
<br />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Post_ID" />
            <input type="hidden" asp-for="User_ID" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contents" class="control-label"></label>
                <textarea  asp-for="Contents" rows="6" style="resize: none" class="form-control"></textarea>
                <span asp-validation-for="Contents" class="text-danger"></span>
            </div>
            <input asp-for="CreateDate" class="form-control" hidden />
            <div class="form-group">
                <input type="submit" value="Save Changes" class="btn btn-primary" />
            </div>
        </form>
        <form method="post" class="float-right" asp-action="DeletePost">
            <input type="hidden" asp-for="Post_ID" />
            <input type="submit" value="Delete Post" class="btn btn-danger" />
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
